body {
    margin: 0;
    overflow-x: hidden;
    background: #F4F4F4;
}

.navigation-top{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 1.2rem;
    align-items: center;
}

.logo-image {
    width: 60px;
    height: auto;
}

.navigation {
    display: flex;
    gap: 3.4rem;
}

.navigation a {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(68, 66, 66);
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: none;
    color: black;
}

.nav-button {
    border-radius: 25px;
    padding: 4px;
    width: 140px;
    border: none;
    background: #F4D301;
    font-weight: 600;
}
.landing-page-section{
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.landing-section{
   display: flex;
   align-items: center;
}

.landing-list{
    display: flex;
    justify-content: flex-start;
    gap: 2.4rem;
}

.profile-image{
    width: 100%;
}

.landing-text {
    font-weight: 800;
}

.landing-cta-1 {
    border: 3px solid black;
    border-radius: 25px;
    width: 200px;
    padding: 5px;
    font-weight: 600;
}

.landing-cta-2{
    border-radius: 25px;
    width: 200px;
    background: #F4D301;
    border: none;
    padding: 5px;
    font-weight: 600;
}
.section-separator {
    background: black;
    color: white;
    height: 100px;
}
.section-separator-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    list-style: none;
}

.section-separator-list li:before {
    content: "•"; /* Set custom bullet character */
    color: #F4D301; /* Change the color of the bullet */
    margin-right: 0.5em; /* Adjust the spacing between bullet and content */
  }

.services {
    text-align: center;
    height: 60vh;
    padding: 4rem 0 3rem 0;
}

.services-text{
    text-decoration: underline #F4D301;
}
.services-p {
    font-weight: 600;
}

.service-card-row{
    margin: 2rem 0 2rem 0; 
}

.service-card{
    background-color: rgb(227, 227, 227);
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}
.portfolio {
    text-align: center;
    margin-top: 4rem;
}
.portfolio-main{
    text-decoration: underline #F4D301;
}

.portflio-text {
    font-weight: 600;
}

.portfolio-card-img{
    height: 40px;
}
.portfolio-card{
    display: inline-block;
    text-align: left;
    border: 2px solid black;
    border-radius: 12px;
    padding: 15px;
    margin: 10px;
    min-height: 300px;
}
.lets-talk {
    background: #000;
    color: white;
    border-radius: 25px;
    width: 100px;
}

.portfolio-main-landing{
    margin-bottom: 2rem;
}

.testimonial{
    text-align: center;
    margin: 4rem 0 3rem 0;
}

.testimonial-text-h2 {
    text-decoration: underline #F4D301;
}

.testimonial-text{
    font-weight: 600;
}

.testimonial-card{
    background: rgb(227, 227, 227);
    margin: 40px 12px;
    padding: 30px 10px;
    border-radius: 15px;
    
}

.mood{
    font-size: 148px;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.author {
    text-decoration: underline #F4D301;
}

.footer-section {
    background: #000;
}

.footer-logo {
    height: 200px;
}

.social {
    color: #F4F4F4;
}

.social p {
    padding: 25px;
    margin-top: 12px;
}